{% if setting.label %}
  <h3>{{ setting.label }}</h3>
{% endif %}
{% if setting.instructions %}
<p>
  <label for="{{ setting.name }}">{{ setting.instructions }}</label>
</p>
{% endif %}
<p>
  <textarea cols="100" rows="{% if setting.rows %}{{setting.rows}}{% else %}5{% endif %} }}" id="{{ setting.name }}" name="{{ setting.name }}">{{ setting.value }}</textarea>
</p>
