{% if setting.label %}
<h3>
  <label for="{{ setting.name }}">{{ setting.label }}</label>
</h3>
{% endif %}
<p>
  <input
    class="magic-input text"
    type="{{ setting.type }}"
    value="{{ setting.value }}"
    id="{{ setting.name }}"
    name="{{ setting.name }}"
  />
</p>
